<div class="table-pagination">
  <span>
    {% if table.page.total %}
      {{ table.page.first }}-{{ table.page.last }} de {{ table.page.total }}
    {% else %}
      0 registros
    {% endif %}
  </span>
  <div>
    {% if table.page.has_previous %}
      <a class="button ghost" href="{{ table.page.previous_url }}"><svg><use href="#i-chevron-left"></use></svg><span>Anterior</span></a>
    {% else %}
      <span class="button ghost disabled"><svg><use href="#i-chevron-left"></use></svg><span>Anterior</span></span>
    {% endif %}
    <span class="page-count">{{ table.page.current }} / {{ table.page.total_pages }}</span>
    {% if table.page.has_next %}
      <a class="button ghost" href="{{ table.page.next_url }}"><span>Próxima</span><svg><use href="#i-chevron-right"></use></svg></a>
    {% else %}
      <span class="button ghost disabled"><span>Próxima</span><svg><use href="#i-chevron-right"></use></svg></span>
    {% endif %}
  </div>
</div>
